.nav__studio{
  
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .nav__main{
   
    @media screen and (max-width:767px) {
      display: none;
      
    }
    @media screen and (min-width: 768px) {
      flex-direction: column;
      display: flex;
      gap: 10px;
      margin-left: auto;
    }

    
    @media screen and (min-width: 1200px){
      display: flex;
   flex-direction: row;
    gap: 30px;
    
    }
  }
  .nav__mains{
    display: flex;
 gap: 50px;
    @media screen and (max-width:767px) {
      display: none;
      
    }
  }
  
  .nav__studio::after {
    content: "";
    width: 48px;
    height: 4px;
    margin-top: 28px;
    background: #2196f3;
    border-radius: 2px;
    display: flex;
    position: absolute;
    cursor: pointer;
  }
  
  .nav__group {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    list-style: none;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .nav__mail-icon {
    margin-right: 10px;
    fill: currentColor;
  }
  
  .nav__tell-icon {
    margin-right: 10px;
    fill: currentColor;
  } 