.header {
  
  padding-top: 25px;
  padding-bottom: 25px;
  background: #ffffff;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  align-items: center;
  display: flex;
  justify-content: center;}