.footer {
    width: auto;
    background: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 480px){
      display: flex;
      justify-content: center;
      flex-direction: column;
     margin-left: auto;
     margin-right: auto;
    };
      
   
  }
  
  .footer__box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
   
    justify-content: center;
    margin-bottom: 60px;
    margin-left: auto;
  }
.footer__boxes{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
margin-right: 70px;
margin-bottom: 60px;
margin-left: auto;

}
  
  .footer__text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
  }
  
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  
  .footer__logo {
    text-decoration: none;
    font-weight: 700;
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.5;
    display: block;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    color: #2196f3;
  }
  
  .logo__light {
    color: #ffffff;
    text-decoration: none;
  }
  
  .address {
    font-style: normal;
  }
  
  .address-list {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 9px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  
  .mail {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .tell {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .list {
    list-style: none;
  }
  
  .list-group:not(:first-child) {
    margin-top: 9px;
  }
  
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  
  .footer__link {
    fill: #f5f4fa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer__link:hover {
    fill: #f5f4fa;
    background-color: #2196f3;
  }
  
  .footer__link:focus {
    fill: #f5f4fa;
    background-color: #2196f3;
  }
  
  
  .footer__site {
 margin-top: 60px;
  }
  
  .subscribe {
    @media screen and (min-width:480px) {
       text-align: center;
    }
    @media screen and (min-width:1200px) {
      text-align: left; 
   }
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
  
  }
  
  .form-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    align-items: center;
  }
  
  .form-text input {
    background-color: var(--brand-color);
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  
  .subscribe-button {
    color: var(--primary-text-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    width: 200px;
    height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 28px;
    padding-right: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--accent-color);
    -webkit-transition-property: cursor;
    transition-property: cursor;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  