.section__title {

  padding: 200px 0;
  text-align: center;

    background: #2f303a;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Img.jpg);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    max-width: 1600px;
    height: 600px;
   


}



.button {
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  letter-spacing: 0.06em;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;



 
}
 

  


 



  
  .section__main__title{

    @media screen and (max-width: 480px) {
width: 360px;
    }
      flex-wrap: nowrap;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    width: 690px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;

}