.working {
  padding: 94px 0;
}
.working__uppertitle {
  

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #212121;
}

.working__list {

  display: flex;
 flex-wrap: wrap;
  gap: 30px;
 
  justify-content: center;



  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    
  }
}
.working__item {
  width: 270px;
}

.working__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}



.working__text {
  font-size: 14px;
  line-height: 1.2;
 
  letter-spacing: 0.03em;
  color: #757575;
} 
  