html {
    box-sizing: border-box;
  }
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root{
--primary-text-color: #fffbfb;
--section-title-colot: #080505;
--accent-color: #2196f3;
--accent-white-color: #ffffff;
}
.head {
  text-decoration: none;
}
.body {
  background-color: #fff;
  font-family: "Roboto";

  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
  }
  li a:hover {
    color: #2196f3;
  }
  li a:focus {
    color: #2196f3;
  }